@use 'src/styles/vars';

.about {
  padding: 0 1rem 2rem;
  margin-bottom: 5rem;

}

.members {

  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-card {
    box-shadow: 2px 2px 4px -1px vars.$color-tertiary;
    text-align: center;
    margin: 1rem;
    min-width: 70%;
    max-width: 100px;

    &-name {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &-title {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding: 0 3rem 2rem;
  
  }
  .members {

    &-card {
      min-width: 40%;

      &-name {
        font-size: 1.5rem;
        font-weight: bold;
      }

      &-title {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .members {
    &-card {
      margin: 1rem;
      text-align: center;
      min-width: 15%;
      max-width: 200px;
  }
}
}
